@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: var(--color-gray-50);
    --background-emph: var(--color-gray-100);
    --background-emphest: var(--color-gray-200);
    --foreground: var(--color-gray-950);

    --fc-event-bg-color: var(--color-orange-400);
    --fc-event-border-color: var(--color-orange-600);
}

@theme inline {
    --color-background: var(--background);
    --color-background-emph: var(--background-emph);
    --color-background-emphest: var(--background-emphest);
    --color-foreground: var(--foreground);

    --font-sans: var(--font-pt-sans);
    --font-mono: var(--font-geist-mono);
    --font-heading: var(--font-pt-sans);
}

.dark {
    --background: var(--color-gray-900);
    --background-emph: var(--color-gray-800);
    --background-emphest: var(--color-gray-700);
    --foreground: var(--color-gray-100);
}

body {
    @apply bg-background;
    @apply text-foreground;
    @apply transition-colors;

    @apply font-sans;

    @apply overflow-y-scroll;
}

.fc-event {
    cursor: pointer;
}
