@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: var(--color-gray-50);
    --background-emph: var(--color-gray-100);
    --background-emphest: var(--color-gray-200);
    --foreground: var(--color-gray-950);
}

@theme inline {
    --color-background: var(--background);
    --color-background-emph: var(--background-emph);
    --color-background-emphest: var(--background-emphest);
    --color-foreground: var(--foreground);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-heading: var(--font-pt-sans);
}

.dark {
    --background: var(--color-gray-900);
    --background-emph: var(--color-gray-800);
    --background-emphest: var(--color-gray-700);
    --foreground: var(--color-gray-100);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
