@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: var(--color-gray-50);
    --background-emph: var(--color-gray-100);
    --background-emphest: var(--color-gray-200);
    --foreground: var(--color-gray-950);

    --fc-button-bg-color: var(--color-orange-400);
    --fc-button-border-color: transparent;
    --fc-button-hover-bg-color: var(--color-orange-500);
    --fc-button-hover-border-color: transparent;
    --fc-button-active-bg-color: var(--color-orange-500);

    --fc-event-bg-color: var(--color-white);
    --fc-event-border-color: transparent;
    --fc-event-text-color: var(--color-foreground);

    --fc-event-selected-overlay-color: transparent;
}

@theme inline {
    --color-background: var(--background);
    --color-background-emph: var(--background-emph);
    --color-background-emphest: var(--background-emphest);
    --color-foreground: var(--foreground);

    --font-sans: var(--font-pt-sans);
    --font-mono: var(--font-geist-mono), monospace;
    --font-heading: var(--font-pt-sans);
}

.dark {
    --background: var(--color-gray-900);
    --background-emph: var(--color-gray-800);
    --background-emphest: var(--color-gray-700);
    --foreground: var(--color-gray-100);

    --fc-border-color: var(--color-gray-700);
    --fc-page-bg-color: var(--color-gray-800);
}

body {
    @apply bg-background;
    @apply text-foreground;
    @apply transition-colors;

    @apply font-sans;

    @apply overflow-y-scroll;
}

.fc-daygrid-event {
    @apply cursor-pointer hyphens-auto break-words !whitespace-normal;
    /* @apply hover:bg-orange-500; */
}

.fc-event {
    @apply !bg-transparent !shadow-none;
}

.fc-daygrid-event-harness {
    @apply first:border-t border-b border-(--fc-border-color);
    @apply bg-background;

    &:hover {
        @apply bg-background-emph;
    }
}

.fc-toolbar .fc-toolbar-title {
    @apply not-lg:!text-xl;
}

.fc-toolbar .fc-button-group {
    @apply not-lg:!ml-1;
}

.fc-toolbar button {
    @apply not-lg:!px-2 not-lg:!py-1;
}

/*
.fc-button-primary {
    @apply !border-none;
    @apply !shadow-none;
    @apply focus:ring-2 focus:ring-orange-600;
}

.fc-timegrid-axis {
    @apply text-xs;
}

.fc-timegrid-slot-label {
    @apply text-xs;
}



.fc-header-toolbar *:last-of-type button {
    @apply not-lg:!text-sm;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    @apply not-lg:!ml-2;
} */
