**/node_modules
**/.next
**/dist
**/build
**/.cache

.git
.gitignore

Dockerfile
docker-compose.yml

.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

packages/cms/.tmp
packages/cms/.cache
packages/cms/public/uploads/*
packages/cms/*.db
packages/cms/*.sqlite
packages/cms/data/*.db
packages/cms/data/*.sqlite
